.container {
    background-color: rgb(226, 226, 153);
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}

.wrapper {
    color: rgb(76, 97, 216);
    font-family: 'Pacifico', cursive;
    text-align: center;
}